{% extends 'base.html' %}
{% load placeholders %}


{% block main_content %}
        <div class="home-hero">
          <div class="heroContainer home-hero1">
            <div class="home-container1">
                  <div class="container">
                      <div class="login-div">
                        <div class="login-box">
                            <h1>LOGIN</h1>
                            <form action="{% url 'login' %}?next={{ next }}" method="POST">
                               <p>
                                    {{ form.username|placeholders:"Username" }}


                                 </p>
                                  <p>
                                    {{ form.password|placeholders:"Password" }}
                                <button type="submit" class="button">Login</button>
                                {% csrf_token %}
                            </form>




                        </div>
                      </div>
                      </div>


                </div>
              </div>
        </div>
{% endblock %}