{% extends 'base.html' %}
{% load placeholders %}
{% block main_content %}
        
          <div class="heroContainer home-hero1">
           
                  <div class="container">
                      <div class="edit-form-container">
                          <div class="edit-form">
                        
                            <h1 class="h1-edit">Edit Pic</h1>
                            <form action="{% url 'edit pic' pk=object.pk %}" method="POST" enctype="multipart/form-data">
                                
                                <p>
                                    {{ form}}
                    
                    
                                 </p>
                                 
                                 
                                <button type="submit" class="button">Confirm</button>
                                {% csrf_token %}
                            </form>




                        </div>
                      </div>
                      </div>
                </div>
      
{% endblock %}