/* CSS for image detail */
.image-detail {
  max-width: 600px;
  margin: 0 auto;
}

.image-detail img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.image-detail p {
  margin-bottom: 10px;
}

/* CSS for the button */
.button-pic {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button-pic:hover {
  background-color: #45a049; /* Darker Green */
}

/* CSS for the hover effect */
.images:hover {

  scale: 2;
  transition: 0.5s;
  z-index: 1;
}
/* Tags Section */
.tags {
  margin-top: 20px;
}

.h3-details {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-li {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: #32e556;

}

.detail-li li {
  background-color: rgba(50, 229, 229, 0.26);
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}