/* CSS for image detail */
.image-detail {
  max-width: 600px;
  margin: 0 auto;
}

.image-detail img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.image-detail p {
  margin-bottom: 10px;
}

/* CSS for the button */
.button-pic {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button-pic:hover {
  background-color: #45a049; /* Darker Green */
}

/* CSS for the hover effect */

/* Tags Section */
.tags {
  margin-top: 20px;
}

.h3-details {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-li {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: #32e556;

}

.detail-li li {
  background-color: rgba(50, 229, 229, 0.26);
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.comments {
  margin: 30px 0;
}

.comments h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  background: #36a3fc;
  border-radius: 4px;
}

.comment p {
  margin: 0;
  padding: 0;
}

.comment p b {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #444;
}

.comment-date {
  font-size: 0.8em;
  color: #999;
}

.add-comment label,
.add-comment input,
.add-comment textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.add-comment label {
  margin-bottom: 5px;
}

.add-comment textarea {
  min-height: 100px;
  resize: vertical;
}

.add-comment input[type="submit"] {
  margin-top: 10px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
}

.b-comment {
  font-size: 20px;
  color: #14A9FF;
}

.image-container {
    position: relative;
}

.like-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.like-button {
    background-color: transparent;
    border: none;
    color: #fc363d;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.like-button:hover {
    color: #ff00b7; /* Change the color on hover */
    cursor: pointer;
}

.like-count {
    font-size: 15px;
    color: #fc363d;
    margin-right: 1px;
    margin-top: 1.5px;
}