.login-div {
	margin-top: 15%;
}

.login-box, .second-option {
	display: block;
	width: 500px;
	background-color: rgb(26, 26, 26);
	border: 1px solid rgb(156, 152, 152);
	padding: 40px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid;
	box-shadow: 1px 2px 3px #888888;

}

.login-box h1 {
	font-family: "Open Sans";
	font-size: 35px;
	text-align: center;
	margin-top: -10px;

}

.login-box label {
	display: none;
}

.login-box input {
	background-color: rgb(255, 255, 255);
	border: 0.1px solid rgb(255, 255, 255);
	border-radius: 3px;
	height: 30px;
	width: 100%;
	padding-left: 2px;
	margin-top: 10px;
}

.login-box button {
	background-color: rgb(252, 96, 54);
	color: white;
	font-weight: bold;
	border: none;
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
	height: 30px;
}
.login-box button:hover{
    background-color: rgb(54, 163, 252);
    cursor: pointer;
}
.second-option {
	text-align: center;
	padding: 20px;
}
